@charset "utf-8";
#nav ul { background-image:url(../images/buttonBanner.jpg); list-style:none; line-height: 0; margin: 0 0 0em 0; padding: 0px; text-align: center; }
#nav ul li {display:inline-block; font-family: Arial, Helvetica, sans-serif; margin: 0; text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.75);}
#nav ul li a { color: #ffffff; float: left; text-decoration:none; font-size: 16px; line-height: 45px; padding: 0px 22px 2px; }
#nav ul li:hover a { background: #600101; color: #fff; text-decoration: none; text-shadow: none;}
#nav ul li ul { text-align: left; padding: 0px; width: 290px; }
#nav ul li ul li { clear:both; display: list-item; margin: 0; padding-bottom: 0;}
#nav ul li ul li a { display: block; float: none; font-size: 14px; line-height: 2.5em; margin: 0 0 0px 0; padding: 0px 5px; }
#nav ul li:hover ul li a { background-color:#7e0000; color: #fff; }
#nav ul li ul li a:hover { background: #000; color: #fff; text-decoration: none; text-shadow: none; }
#nav ul li ul {left: 0px; top: 47px; z-index: 15; line-height: 30px;}
#nav ul li {position: relative;}
#nav ul li ul {background-color:#d6dce9; position: absolute; display: none;}
#nav ul li:hover ul {display: block;}
body {
	background-color: #666;
	background-image: url(../images/background.jpg);
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 14px;
}
img {
  border: 0;
  width: 100%;
  width: -webkit-fill-available;
}
td span,
td a.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.background {
  background-color: white;
  height: 100%;
}
.center {
  text-align: center;
}
.content {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: normal;
  padding: 10px;
  padding-left: 12px;
  text-align: left;
 }
.contentBox {
  background-color: #f2f2f2;
  border: thin solid #e2e2e2;
  height: auto;
  margin: 3px;
  padding: 3px;
  width: 98%;
}
.contentBox2 {
  background-color: #efefef;
  border: thin solid #ffff;
  font-size: 12px;
  padding: 5px;
  vertical-align: top;
}
.default {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}
.footer {
  color: #333;
  font-size: 9px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: center;
}
td.spacer {
  width: 1%;
}
td.spacer13 {
  width: 13%;
}
.mainFont2 {
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
}
.mainFont4 {
  color: #111;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  text-align: left;
}
.pageSubTitle {
  color: #600101;
  font-size: 22px;
  font-weight: bold;
}
.pageTitle {
  color: #600101;
  font-size: 16px;
  font-weight: bold;
}